<div class="navbar">
    <ul>
        <li>
            <a href="home.html.twig">Home</a>
        </li>
        <li>
            <a href="products.html.twig">Products</a>
        </li>
    </ul>
</div>